/*
0 - 600px       :phone
600 - 900px     :tablet portrait
900 - 1200px    :tablet landscape
[1200px - 1800px] => where out normal styles apply  (Desktop first approach)
1800px          :big desktop
*/
/*
$breakpoint argument choices :
- phone
- tab-port
- tab-land
- big-desktop
*/
/* responsible for animation *************************************************/
@keyframes MoveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); } }

@keyframes MoveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); } }

@keyframes MoveInBottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */
  /*  @include respond(phone) {
        font-size: 30%;      // 1 rem = 4.5px!
    } */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* all the stuff in here , will be inherited to the child elements.*/
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

body {
  /* all the stuff in here , will be inherited to the child elements.*/
  font-family: "Lato" , sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  /* 1.7 times bigger than the pre defined value */
  color: #777777; }

.heading-primary {
  /* this is the h1 , containing the following two span tags and the button */
  color: white;
  text-transform: uppercase;
  margin-bottom: 6rem;
  backface-visibility: hidden;
  /* not very important */ }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-right: -3.5rem;
    animation-name: MoveInLeft;
    /* this stuff happens only upon loading the page ! */
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /* animation-delay: 1s; */
    /* animation-iteration-count: 3; */ }
    @media (max-width: 37.5em) {
      .heading-primary--main {
        letter-spacing: .5rem;
        font-size: 4.7rem; } }
  .heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.75rem;
    margin-right: -1.8rem;
    animation: MoveInRight 1s  ease-out;
    /* short version */ }
    @media (max-width: 37.5em) {
      .heading-primary--sub {
        letter-spacing: .7rem; } }

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: all 0.2s;
  letter-spacing: .2rem; }
  @media (max-width: 56.25em) {
    .heading-secondary {
      font-size: 3rem; } }
  @media (max-width: 37.5em) {
    .heading-secondary {
      font-size: 2.5rem; } }
  .heading-secondary:hover {
    transform: skewY(0) skewX(8deg) scale(1.05);
    text-shadow: 5rem 1rem 2rem rgba(40, 180, 133, 0.5); }

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.1rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-medium {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }
  @media (max-width: 56.25em) {
    .u-margin-top-huge {
      margin-top: 7rem !important; } }

.u-margin-top-medium {
  margin-top: 4rem !important; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */
  /*  @include respond(phone) {
        font-size: 30%;      // 1 rem = 4.5px!
    } */ }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  /* all the stuff in here , will be inherited to the child elements.*/
  box-sizing: border-box;
  padding: 3rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

.btn, .btn:link, .btn:visited {
  font-size: 1.6rem;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 4rem;
  display: inline-block;
  /*this is inline element , so it is treated as Text => text-align:center in the parent element , will center this */
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  /* because its ::after element wants to have an absolute positioning. */
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  /* when you click the element */
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.3rem 0.7rem rgba(0, 0, 0, 0.9);
  /* the shadow becomes less blurry upon clicking , which looks super cool*/ }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 0.7rem 1.5rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
    /* it gets bigger and fades out upon hovering */ }

.btn::after {
  /* this is treated as a Child of & ! */
  content: "";
  /* you HAVE to specify this */
  display: inline-block;
  /* you HAVE to specify this */
  /* because & is also inline-block */
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  /* it needs to have a reference , and that is the first element with a 'relative' position that it can find */
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 1s; }

.btn--animated {
  animation: MoveInBottom 0.5s ease-out;
  animation-delay: .5s;
  animation-fill-mode: backwards;
  /* automatically apply the styles of the 0% state ,before the animation starts (during the animation-delay period)  */ }

.btn--white {
  background-color: white;
  color: #777; }
  .btn--white::after {
    background-color: white; }

.btn--green {
  background-color: #58c57c;
  color: white; }
  .btn--green::after {
    background-color: #58c57c; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: lightgray;
  display: inline-block;
  text-decoration: none;
  border-bottom: 0.1rem solid #58c57c;
  padding: .3rem;
  transition: all 0.3s; }

.btn-text:hover {
  background-color: #58c57c;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-0.45rem); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  position: relative;
  perspective: 150rem;
  height: 52rem; }
  @media (max-width: 56.25em) {
    .card {
      height: 60rem; } }
  .card__side {
    height: 52rem;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.3); }
    @media (max-width: 56.25em) {
      .card__side {
        box-shadow: none; } }
    .card__side--front {
      background-color: white; }
      @media (max-width: 56.25em) {
        .card__side--front {
          height: 70.6666%;
          position: relative;
          float: left; } }
    .card__side--back {
      transform: rotateY(180deg); }
      @media (max-width: 56.25em) {
        .card__side--back {
          height: 41.3333%;
          transform: rotateY(0deg);
          position: relative;
          float: left;
          clip-path: polygon(0 25%, 100% 0, 100% 100%, 0 100%);
          margin-top: -7rem; } }
      .card__side--back-1 {
        background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
      .card__side--back-2 {
        background-image: linear-gradient(to right bottom, #7ed56f, #28b485); }
      .card__side--back-3 {
        background-image: linear-gradient(to right bottom, #2998ff, #5643fa); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    height: 23rem;
    background-blend-mode: screen;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%); }
    @media (max-width: 56.25em) {
      .card__picture {
        height: 15.4rem; } }
    .card__picture--1 {
      background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to right bottom, #7ed56f, #28b485), url(../img/nat-6.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: uppercase;
    color: white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 54%; }
    @media (max-width: 56.25em) {
      .card__heading {
        height: 2rem;
        width: 80%;
        right: .7rem; } }
  .card__heading-span {
    padding: 0.7rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone; }
    @media (max-width: 56.25em) {
      .card__heading-span {
        padding: 0.5rem 0.4rem; } }
    .card__heading-span--1 {
      background-image: linear-gradient(to right bottom, rgba(255, 185, 0, 0.8), rgba(255, 119, 48, 0.8)); }
    .card__heading-span--2 {
      background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)); }
    .card__heading-span--3 {
      background-image: linear-gradient(to right bottom, rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8)); }
  .card__details ul {
    list-style: none;
    width: 80%;
    margin: 0 auto;
    padding: 1rem; }
    @media (max-width: 56.25em) {
      .card__details ul {
        margin-top: 2rem;
        padding: 0.7; } }
    .card__details ul li {
      text-align: center;
      font-size: 1.5rem;
      padding: 1rem; }
      .card__details ul li:not(:last-child) {
        border-bottom: 1px solid #eee; }
      @media (max-width: 56.25em) {
        .card__details ul li {
          font-size: 1.3rem;
          font-weight: 700;
          padding: 0.7rem; } }
  .card_cta {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    text-align: center; }
  .card__price-box {
    text-align: center;
    margin-bottom: 8rem;
    color: white; }
    @media (max-width: 56.25em) {
      .card__price-box {
        margin-bottom: 1.5rem;
        margin-top: 4rem; } }
  .card__price-only {
    font-size: 1.4rem;
    text-transform: uppercase; }
    @media (max-width: 56.25em) {
      .card__price-only {
        font-size: 1.3rem; } }
  .card__price-value {
    font-size: 6rem;
    font-weight: 100; }
    @media (max-width: 56.25em) {
      .card__price-value {
        font-size: 4rem;
        font-weight: 700; } }

.composition {
  position: relative; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.9); }
  .composition__photo {
    width: 55%;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 2.5px;
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 1.5rem;
    transition: all .2s; }
    @media (max-width: 56.25em) {
      .composition__photo {
        width: 42%; } }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
      @media (max-width: 56.25em) {
        .composition__photo--p2 {
          top: -2rem; } }
    .composition__photo--p3 {
      top: 10rem;
      left: 20%; }
      @media (max-width: 56.25em) {
        .composition__photo--p3 {
          top: -3rem;
          left: 30%;
          transform: scale(1.1); } }
    .composition__photo:hover {
      transform: scale(1.07);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.6);
      z-index: 20;
      outline: 1rem solid #58c57c; }

.feature-box {
  background-color: rgba(255, 255, 255, 0.7);
  font-size: 1.5rem;
  padding: 2rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.7);
  transition: all .3s; }
  @media (max-width: 56.25em) {
    .feature-box {
      padding: 1.5rem; } }
  .feature-box__icon {
    font-size: 6rem;
    margin-bottom: .5rem;
    color: #28b485; }
    @media (max-width: 56.25em) {
      .feature-box__icon {
        font-size: 5rem; } }
  .feature-box:hover {
    transform: translateY(-1.3rem) scale(1.05); }

.story {
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
  background-color: rgba(255, 255, 255, 0.5); }
  @media (max-width: 56.25em) {
    .story {
      width: 100%;
      padding: 4rem;
      padding-left: 7rem; } }
  .story > * {
    transform: skewX(12deg); }
  @media (max-width: 37.5em) {
    .story {
      transform: skewX(0deg); } }
  .story__shape {
    width: 15rem;
    height: 15rem;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    transform: translateX(-2rem) skewX(12deg);
    position: relative; }
    @media (max-width: 37.5em) {
      .story__shape {
        transform: translateX(-2rem) skewX(0deg); } }
  .story__image {
    height: 100%;
    transform: translateX(-3.5rem) scale(1.2);
    transition: all 0.5s; }
  .story__text {
    transform: skewX(12deg); }
    @media (max-width: 37.5em) {
      .story__text {
        transform: skewX(0deg); } }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    color: white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all 0.5s; }
  .story:hover .story__caption {
    transform: translate(-50%, -50%);
    opacity: 1; }
  .story:hover .story__image {
    transform: translateX(-3.5rem) scale(1);
    filter: blur(7px) brightness(80%); }

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.14; }
  .bg-video__content {
    width: 100%;
    height: 100%;
    object-fit: cover; }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  font-family: inherit;
  border-bottom: 3px solid transparent;
  width: 100%;
  display: block;
  font-family: inherit;
  color: inherit;
  transition: .3s; }
  .form__input::-webkit-input-placeholder {
    color: #999; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    border-bottom: 3px solid #58c57c; }
  .form__input:focus:invalid {
    border-bottom: 3px solid #ff7730; }

.form__label {
  font-size: 1.5rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.form__radio-group {
  width: 43%;
  display: inline-block; }
  @media (max-width: 56.25em) {
    .form__radio-group {
      width: 100%;
      margin-bottom: 2rem;
      margin-left: 2rem; } }
  .form__radio-group:first-child {
    margin-left: 13%; }
    @media (max-width: 56.25em) {
      .form__radio-group:first-child {
        margin-left: 2rem; } }

.form__radio-label {
  font-size: 1.6rem;
  cursor: pointer;
  position: relative;
  padding: .5rem 2rem; }

.form__radio-button {
  height: 3rem;
  width: 3rem;
  border: 5px solid #58c57c;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -2.5rem; }
  .form__radio-button::after {
    content: "";
    display: block;
    width: 1rem;
    height: 1rem;
    background-color: #58c57c;
    border-radius: inherit;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .4s; }

.form__radio-input:checked ~ .form__radio-label .form__radio-button::after {
  opacity: 1; }

.form__radio-input {
  display: none; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/hero.jpg);
  background-size: cover;
  /* Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-position: top;
  /* the top stays the same upon resizing the window. */
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative; }
  @media (max-width: 37.5em) {
    .header {
      clip-path: polygon(0 0, 100% 0, 100% 84vh, 0 100%); } }
  .header__box-logo {
    /* div element containing the img element */
    position: absolute;
    top: 4rem;
    left: 4rem; }
  .header__logo {
    /* the image element */
    height: 3.5rem;
    width: auto; }
  .header__text-box {
    /* div element containing the title (h1) and the button */
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* x% in relation to the element itself ! */
    text-align: center; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
    @media (max-width: 56.25em) {
      .row:not(:last-child) {
        margin-bottom: 2.7rem; } }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 4rem; }
      @media (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 2.7rem; } }
    @media (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  @media (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 3rem; } }
  .row .col-1-of-2 {
    width: calc( (100% - 4rem) / 2); }
  .row .col-1-of-3 {
    width: calc( (100% - (4rem * 2) ) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 4rem) / 3) + 4rem); }
  .row .col-1-of-4 {
    width: calc( (100% - (4rem * 3) ) / 4); }

.footer {
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.4rem; }
  @media (max-width: 56.25em) {
    .footer {
      padding: 8rem 0; } }
  .footer__logo-box {
    text-align: center;
    margin-bottom: 4rem; }
  .footer__logo {
    width: 15rem;
    height: auto; }
  .footer__navigation {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    float: left; }
    @media (max-width: 56.25em) {
      .footer__navigation {
        width: 100%;
        text-align: center; } }
  .footer__list {
    list-style: none; }
  .footer__item {
    display: inline-block; }
    .footer__item:not(:last-child) {
      margin-bottom: 1.5rem;
      margin-right: 1.0rem; }
  .footer__link:link, .footer__link:visited {
    color: #f7f7f7;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    transition: all .3s; }
  .footer__link:hover, .footer__link:active {
    color: #58c57c;
    box-shadow: 0 0.9rem 0.5rem rgba(0, 0, 0, 0.4);
    transform: rotate(3deg) scale(1.3); }
  .footer__copyright {
    border-top: 1px solid #f7f7f7;
    padding-top: 2rem;
    float: right;
    width: 82%;
    text-align: left; }
    @media (max-width: 56.25em) {
      .footer__copyright {
        width: 100%;
        float: none;
        text-align: left; } }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: white;
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 200;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer; }
  @media (max-width: 56.25em) {
    .navigation__button {
      top: 3rem;
      right: 3rem; } }
  @media (max-width: 37.5em) {
    .navigation__button {
      top: 2rem;
      right: 2rem; } }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  display: block;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#7ed56f, #28b485);
  z-index: 100;
  transition: transform 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  @media (max-width: 56.25em) {
    .navigation__background {
      top: 3.5rem;
      right: 3.5rem; } }
  @media (max-width: 37.5em) {
    .navigation__background {
      top: 2.5rem;
      right: 2.5rem; } }

.navigation__nav {
  height: 100vh;
  width: 0;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 150;
  transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center; }

.navigation__item {
  list-style: none;
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: .5rem 4rem;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, white 50%);
  background-size: 220%;
  transition: all .4s;
  width: 100%; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #58c57c; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(150); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.navigation__icon {
  position: relative;
  margin-top: 3.5rem; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #333;
    display: inline-block; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all 0.1s; }
  .navigation__icon::before {
    top: -1rem; }
  .navigation__icon::after {
    top: 1rem; }

.navigation__button:hover .navigation__icon:before {
  top: -1.15rem; }

.navigation__button:hover .navigation__icon:after {
  top: 1.15rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon:before {
  top: 0;
  transform: rotate(45deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon:after {
  top: 0;
  transform: rotate(-45deg); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 500;
  transition: all .5s;
  opacity: 0;
  visibility: hidden; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    width: 75%;
    background-color: white;
    display: table;
    overflow: hidden;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.5);
    transition: all .6s ease-out; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__left {
    width: 33.33333%;
    display: table-cell;
    vertical-align: middle; }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
    -moz-column-count: 2;
    -moz-column-gap: 4rem;
    -moz-column-rule: 1px dashed #eee;
    column-count: 2;
    column-gap: 4rem;
    column-rule: 1px dashed #eee; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__close:link, .popup__close:visited {
    position: absolute;
    top: 1rem;
    right: 1rem;
    color: black;
    font-size: 4rem;
    display: inline-block;
    text-decoration: none;
    line-height: 1; }

.section-about {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
  @media (max-width: 56.25em) {
    .section-about {
      padding: 20rem 0; } }

.section-features {
  padding: 20rem 0;
  background-color: red;
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.6), rgba(40, 180, 133, 0.6)), url(../img/nat-4.jpg);
  background-size: cover;
  /* Resize the background image to cover the entire container, even if it has to stretch the image or cut a little bit off one of the edges */
  background-position: top;
  margin-top: -8rem;
  transform: skewY(-7deg); }
  @media (max-width: 56.25em) {
    .section-features {
      padding: 8rem 0; } }
  .section-features > * {
    transform: skewY(7deg); }

.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -8rem; }
  @media (max-width: 56.25em) {
    .section-tours {
      padding: 20rem 0 10rem 0; } }

.section-stories {
  padding: 15rem 0;
  position: relative; }
  @media (max-width: 56.25em) {
    .section-stories {
      padding: 10rem 0; } }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to bottom right, #7ed56f, #28b485); }
  @media (max-width: 56.25em) {
    .section-book {
      padding: 15rem 0; } }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0) 50%), url(../img/nat-10.jpg);
  background-size: cover; }
  @media (max-width: 75em) {
    .book {
      background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 70%, rgba(255, 255, 255, 0) 70%), url(../img/nat-10.jpg); } }
  @media (max-width: 56.25em) {
    .book {
      background-image: linear-gradient(to right, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.8) 100%), url(../img/nat-10.jpg); } }
  .book__form {
    width: 50%;
    padding: 6rem; }
    @media (max-width: 75em) {
      .book__form {
        width: 70%; } }
    @media (max-width: 56.25em) {
      .book__form {
        width: 100%; } }
