

.navigation {


    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white; 
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        position: fixed;
        top: 6rem;
        right: 6rem;
        z-index: 200;   
        box-shadow: 0 1rem 3rem rgba($color-black , 0.3);
        text-align: center;
        cursor: pointer;

        @include respond(tab-port) {
            top: 3rem;
            right: 3rem;
        }

        @include respond(phone) {
            top: 2rem;
            right: 2rem;
        }
    }

    &__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        display: block;
        position: fixed;
        top: 6.5rem;
        right: 6.5rem;
        background-image: radial-gradient($color-primary-light , $color-primary-dark);
        z-index: 100;  //this works on element that has its position defined.
        transition: transform 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);

        @include respond(tab-port) {
            top: 3.5rem;
            right: 3.5rem;
        }

        @include respond(phone) {
            top: 2.5rem;
            right: 2.5rem;
        }
    }


    &__nav {  //div containing ul , li and a
        height: 100vh;
        width: 0;
        opacity: 0;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 150;
        transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        
    }

    &__list {  //ul
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50% , -50%);
        text-align: center;
    }

    &__item {   //li
        list-style: none;
        margin: 1rem;
    }


    &__link {   //a
        &:link,
        &:visited {
            display: inline-block;
            font-size: 3rem;
            font-weight: 300;
            padding: .5rem 4rem;
            color: $color-white;
            text-decoration: none;
            text-transform: uppercase;
            background-image: linear-gradient(120deg , transparent 0% ,transparent 50% ,  white 50%);
            background-size: 220%;
            transition: all .4s;
            width: 100%;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
        }
    }

    // FUNCTIONALITY ########################################################

    &__checkbox:checked ~ &__background {
        transform: scale(150);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        width: 100%;
        // height: 100vh;
    }

    // ICON ################################################################
    &__icon {
        position: relative;
        margin-top: 3.5rem;
        &,
        &::before,
        &::after {
            width: 3rem;
            height: 2px;
            background-color: $color-dark-grey-3;
            display: inline-block;
        }

        &::before,
        &::after {
            content:"";
            position: absolute;
            left : 0;
            transition: all 0.1s;
        }

        &::before { top: -1rem; }
        &::after { top: 1rem; }
    }


    &__button:hover &__icon:before { top: -1.15rem; }
    &__button:hover &__icon:after  { top: 1.15rem; }

    &__checkbox:checked + &__button &__icon  { background-color: transparent ; }  //when the checkbox is checkhed , we the child of select its brother

    &__checkbox:checked + &__button &__icon:before {
        top :0 ;
        transform: rotate(45deg);
    }

    &__checkbox:checked + &__button &__icon:after  {
        top :0 ;
        transform: rotate(-45deg) ;
    }




}



















