

.composition {
    position: relative;
   
    &:hover  &__photo:not(:hover) {  // when we hover the .composition , select the .composition__photo that are NOT hovered , and apply the followin properties on them.
        transform: scale(0.9);
    }
    

    &__photo {
        width: 55%;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 2.5px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        outline-offset: 1.5rem;
        transition: all .2s;

        @include respond(tab-port) { width: 42%; }

        &--p1 {
            top:-2rem;
            left:0;
        }

        &--p2 {
            top:2rem;
            right:0;  //starts from the right side !
            @include respond(tab-port) { top:-2rem ;}
        } 

        &--p3 {
            top: 10rem;
            left: 20%;
            @include respond(tab-port) { 
                top:-3rem ;
                left : 30%;
                transform: scale(1.1);
            }
        }

        &:hover {
            transform: scale(1.07) ;
            box-shadow: 0 2.5rem 4rem rgba($color-black, .6);
            z-index: 20;
            outline: 1rem solid $color-primary;
        }
    }

}