
.feature-box {
    background-color: rgba($color-white , 0.7);
    font-size: 1.5rem;
    padding: 2rem;
    text-align: center;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color-black , 0.7);
    transition: all .3s;

    @include respond(tab-port) { padding: 1.5rem ;}

    &__icon {
        font-size: 6rem;
        @include respond(tab-port) { font-size: 5rem;}
        margin-bottom: .5rem;
        color : $color-primary-dark;
    }

    &:hover {
        transform: translateY(-1.3rem) scale(1.05);
    }

    &__text {

    }


}