
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;

    // border: 1px solid green;
}

html { // this defines what 1 rem is : 1rem = 10px
    font-size: 62.5%;  /* this is the root font-size ! | and = 62.5% of the default browser font-size which is usually 16px ==> final value 10px */        

    
    // write the larger ones before the smaller ones. so when their is a conflict. the the smaller one would apply ! because its was declared the last.
    @include respond(tab-land) {
        font-size: 56.25%;    // 1 rem = 9px
    }

    @include respond(tab-port) {
        font-size: 50%;      // 1 rem = 8px
    }

   /*  @include respond(phone) {
        font-size: 30%;      // 1 rem = 4.5px!
    } */

    @include respond(big-desktop) {
        font-size: 75%;   // 1 rem = 12px
    }

}


body { /* all the stuff in here , will be inherited to the child elements.*/
    box-sizing: border-box;
    padding: 3rem;

    @include respond(tab-port) {
        padding: 0;
    }
}












